.navLogo {
  width: 60px;
  height: 60px;
  border-right: solid 1px #e3e3e3;
  /* padding-right:1% //8px */
  padding-right: 1%;
}
.appbar {
  color: white;
}
.avatar {
  margin-left: auto;
  display: flex;
}

.Links {
  text-decoration: none;
}
.black {
  color: black;
  margin-top: 15px;
  margin-left: 1rem;
  font-weight: 700;
}
.row {
  display: flex;
  flex-direction: row;
}
