/*dashboard-page */
.row {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 160px;
  }
  
  .row-md {
    display: flex;
    flex-wrap: wrap;
  }
  
  .barchart {
    width: 100%;
    height: 100%;
    height: 450px;
    margin-top: 40px;
    display: flex;
  }
  .barchart-md {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

  }
  