.upper-form {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .upper-form-md {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .buttongroup{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    justify-content: flex-end;
  
  }
  .buttongroup-md{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .imageHolder{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px
 
  }
  .textContent{
    display: flex;
    flex-direction: column;
    margin: 30px
   
  }